*{
    padding: 0px;
    margin: 0px;
}
 body{
    background-color: rgb(148, 146, 146);
    color: black;
 }
.sect1{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(148, 146, 146);
    /* border: 2px solid blue; */
}
/* .bar-option{
    position: fixed;
    border: 1px solid red;
} */
.mainC {
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.ic{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 20px;
    font-size: 20px;
}
.ic i:active{
    transform: scale(0.9);
}
.inputT{
    width:70%;
    height: 3rem;
    text-align: end;
    padding-right: 10px;
    margin:1rem 0px 3rem 0px ;
    border: none;
    border-radius: 1rem;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
    box-shadow: 0px 5px 10px 0px rgb(20, 20, 20) ;
    padding: 10px;
    font-size: 2.2rem;
    font-weight: 600;
    outline: none;
    
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-inline: 2rem;
    margin: 1rem;
    box-shadow: 0px 10px 10px 5px rgb(20, 20, 20) ;
    color: black;
    border: none;
    font-size: 18px;
    font-weight:800;
}
.button-row{
    width: 70%;
    margin-top: 0.5rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.btn:active{
     transform: scale(0.97);
     background-color: #ec0b0bf6;
}
.operator{
    background-color: #f06114ce;
}
.op{
    font-size: 25px;
}

/* sect2 */
.sect2{
    display: none;
}
#sect2{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(148, 146, 146);
}
.sect2-main{
    width: 70%;
    background-color: rgb(148, 146, 146);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.sect2-main .box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 4rem 1rem 1rem 1rem;
    text-align: center;
    align-content: center;
    border-radius: 50px;
    box-shadow: 0px 10px 10px 5px rgb(20, 20, 20) ;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: rgb(15, 236, 181);
}
.sect2-main .box i{
    font-size: 100px;
}
.sect2-main .box:active{
    transform: scale(0.97);
}
.backB{
    cursor: pointer;
    margin:1rem;
    width: 4rem;
    height:1.7rem ;
    font-weight: 600;
    font-size: 20px;
    background: none;
    border: none;
    border-radius: 8px;
}
.backB:active{
    transform: scale(0.9);
}

/* SECT3 */
.cont3{
    display: none;
}
.sect3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(148, 146, 146);
}
.age-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.age-box select{
    width: 5rem;
    padding: 10px;
    outline: none;
    height: 3rem;
    font-size: 17px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px black;
}
.age-box label{
    font-size: 20px;
    font-weight: 500;
    text-transform:capitalize;
    margin-bottom: 1rem;
}
.c3B{
    height: 1.5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius:7px;
    box-shadow: 0px 1px 3px 0px black;
    border: none;
    font-size: 15px;
}
.c3B:active{
    transform: scale(0.97);
    /* background-color: rgb(159, 219, 20); */
}
.sect3 .output{
    width:50%;
    border-top: 1px solid black;
    padding: 1rem;
}

/* calculate */
.result{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.ttl{
    color: blue;
    text-transform: capitalize;
    margin-top: 1rem;
}

.summary{
    align-content:start;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 1rem;
}
.birthdayMain .birthday{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    align-items: end;
}
.birthday i{
    font-size: 4rem;
    color: rgb(245, 136, 11);
}
.B-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* sect 4 */
.cont4{
    display: none;
    background-color: rgb(148, 146, 146);
}
.sect4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(148, 146, 146);
}
.uib{
    border: 2px solid rgb(214, 27, 27);
    display: flex;
    flex-direction: column;
    justify-content: c;
    align-items: center;
    text-transform: capitalize;
    font-size: large;
    font-weight:bold;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: red;
    box-shadow: 0px 5px 10px 0px black;
    border-radius: 10px;
}
.uib input{
    padding: 1rem;
    font-size:17px;
    font-weight: 600;
    outline:none;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 5px 5px 0px black;
    
}
.uib .d-countB{
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 7px;
    background-color: yellow;
    font-weight: bold;
}
.d-countB:active{
    transform: scale(0.9);
}
.ob{
    text-transform: capitalize;
    margin: 0.5rem;
    width: 300px;
    padding: 1rem;
    border-radius:10px;
    box-shadow: 0px 5px 10px 0px black;
    background-color:rgba(0, 0, 255, 0.911);
    color: white;
}
.inOB{
    height: 25vh;
    text-align: center;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
}
.sect4BB{
    margin: 1rem;
    border: none;
    background: none;
    font-size:large;
    width: 2.5rem;
    border-radius: 5px;
}
.sect4BB:active{
    transform: scale(0.9);
}

/* cont5 */
.cont5{
    display:none;
}
.sect5{
    display: flex;
    justify-content: center;
    color: black;
    height: 95vh;
}
.timeInputBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-transform: capitalize;
}
.timeInputBox select{
    width: 7rem;
    height: 3rem;
    padding: 0px 10px 0px 10px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0px 5px 5px 0px black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    text-transform: capitalize;

}
.timeInputBox input{
    height: 3rem;
    padding: 0px 10px 0px 10px;
    outline: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
     background-color: white;
    box-shadow: 0px 5px 5px 0px black;
    border: none;
    border-radius: 10px;
}
.inputSect-A{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
}
.inputSect-B{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    font-size: large;
    font-weight: 600;
    box-shadow: 0px 5px 5px 0px black;
}
.inputSect-B select{
    background-color: transparent;
    box-shadow: none;
}
.timeCout{
    margin-top: 1rem;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
}
.timeValueBox{
    height: 50px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    align-content: center;
}
.convertorB{
    width: 4rem;
    padding: 5px;
    border-radius: 5px;
    background-color: yellow;
    box-shadow: 0px 2px 5px 0px black;
    border: none;
    font-weight: bold;
}
.convertorB:active{
   transform:scale(0.9);
}
.sect5BB{
    width: 2rem;
    font-size: 15px;
    font-weight: 600;
    background:none;
    border: none;
}
/* sect6 */
.cont6{
    display: none;
}
.sect6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    height: 90vh;
}
.sect6Main{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.sect6Main input{
    height: 2rem;
    padding: 10px;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border:none;
    box-shadow: 0px 2px 5px 0px black;
}
.perOutput{
    border: 1px solid black;
    width: 240px;
    border-radius: 7px;
    padding: 5px;
}
.persB{
    width: 3rem;
    height: 1.5rem;
    border: none;
    background-color:red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}
.persB:active{
    transform: scale(0.9);
}
.perResult{
    height: 150px;
    width: 240px;
    text-align: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.persentBB{
    width: 2rem;
    font-size: large;
    background: none;
    border: none;
}

/* sect7 */
.cont7{
    display: none;
}

.sect7{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 3rem;
    height: 90vh;
}
.sect7Main{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    font-size: 20px;
}
.sect7Main select{
    width: 10rem;
    /* height: 2rem; */
    padding: 10px;
    outline: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    box-shadow: 0px 2px 5px 0px black;
    text-align: center;
    outline: none;
}
.sect7Main input{
    height: 2rem;
    width: 9rem;
    text-align: center;
    padding: 10px;
    font-size: large;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border:none;
    box-shadow: 0px 2px 5px 0px black;
}
.massOutput{
    border: 1px solid black;
    width: 240px;
    border-radius: 7px;
    padding: 5px;
}

.massB{
    width: 3rem;
    height: 1.5rem;
    border: none;
    background-color:red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}
.massB:active{
    transform: scale(0.9);
}
.massResult{
    height: 100px;
    width: 240px;
    text-align: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.massBB{
    width: 2rem;
    font-size: large;
    background: none;
    border: none;
}
.cont8{
    display: none;
}
.sect8{
    display: flex;
    /* flex-direction: column; */
    padding: 1rem;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
.sect8Main{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    align-items: center;
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0px 2px 5px 0px black;
    border-radius: 10px;
}
.sect8Main .hacksInput{
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px black;
    font-size: 17px;
    font-weight: 600;
}
.sect8Main .hackCheck{
    width: 30px;
    height: 30px;
}
.sect8Main .hackSub{
    padding: 5px;
    background-color: yellow;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
.sect8Main .hackSub:active{
    transform: scale(0.9);
}

/* media */
@media(max-width:500px){
.ic{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 20px;
}
.sect1{
    height: 100vh;
}
.mainC{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
    background-color: rgb(148, 146, 146);
}
.inputT{
    width: 90%;
    height:5.5rem;
    margin: 1.5rem 0 2rem 0;
}

.btn{
    width:60px;
    height:60px;
    border-radius: 50px;
    margin: 1vh;
    margin-top:1.2vh;
}
.button-row{
    width: 90%;
}
.sect2-main{
   width: 100%;
}
.age-box{
    width: 90%;
}
.sect3 .output{
    width: 90%;
}
/* sect4 */
.ob{
    width: 250px;
}
}

